<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
    
    <link rel="stylesheet" href="../static/css/converter.css" >
    <link rel="stylesheet" href="../static/css/header.css" >
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <img class="logo" src="../static/images/Logo.png" alt="" />
        <div class="nav-item"><a href="">Home</a></div>
        <div class="nav-item"><a href="">Converter</a></div>
        <div class="nav-item"><a href="">Collection</a></div>
        <div class="nav-item"><a href="">About Us</a></div>
        <button class="btn-login"><a href="">Log In</a></button>
        <button class="btn-login btn-signup"><a href="">Sign Up</a></button>
    </div>
    <!-- HEADER FINISH -->



    <!-- CONVERTER -->
    <div class="converter">
        <div class="left-side">
            <button class="button"><a href=""><i class="fa-solid fa-camera"></i>Turn on Camera</a></button>
            <label>Hold your sign for 1 seconds</label>
            <input type="range" min="1" max="5" > <!-- value-->
            <div class="video-display">
                <img src="{{ url_for('video_feed') }}" alt="Video Feed">
            </div>
        </div>
        <div class="right-side">
            <div class="audio-mod">
                <audio src="" type="audio/mpeg" controls></audio>
                <button class="button"><a href="">Female <i class="fa-solid fa-microphone"></i></a></button>
            </div>
            <div class="text-display">
            </div>
        </div>
    </div>
    <!-- CONVERTER FINISH -->

    <script src="https://kit.fontawesome.com/133845b97a.js" crossorigin="anonymous"></script>
</body>
</html>