<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css" >
    <link rel="stylesheet" href="../static/css/header.css" >
    <link rel="stylesheet" href="../static/css/footer.css" >
    <title>Home</title>
</head>
<body>
    <div class="home-container">
        <div class="header">
            <img class="logo" src="../static/images/Logo.png" alt="" />
            <div class="nav-item"><a href="">Home</a></div>
            <div class="nav-item"><a href="">Converter</a></div>
            <div class="nav-item"><a href="">Collection</a></div>
            <div class="nav-item"><a href="">About Us</a></div>
            <button class="btn-login"><a href="">Log In</a></button>
            <button class="btn-login btn-signup"><a href="">Sign Up</a></button>
        </div>

        <div class="intro">
            <div class="title">
                <span>Convert </span><span class="indian"> Indian </span><span> Sign<br>Language to<br>Text and Audio</span>
            </div>
            <div class="description">
                Turn up your camera and capture yourself to communicate with your<br>
                friends, family and colleagues using the Indian Sign Language!
            </div>
            <div class="btns">
                <button class="btn-try"><a href="">Try Now!</a></button>
                <button class="btn-try btn-about"><a href="">About Us</a></button>
            </div>
        </div>
    </div>

    <div class="steps-3">
        <div class="steps-title">
            <img src="../static/images/3steps.png" alt="">
            <div>
                To create your own<br>
                Sign to Text Document
            </div>
        </div>
        <div class="right-step">
            <img class="step-img" src="../static/images/setcamera.png" alt="">
            <div class="step-text">Set up your Camera!</div>
        </div>
        <div class="left-step">
            <div class="step-text">
                Record as you communicate<br>
                in sign language
            </div>
            <img class="step-img recordimg" src="../static/images/record.png" alt="">
        </div>
        <div class="right-step2">
            <img class="step-img" src="../static/images/document.png" alt="">
            <div class="step-text">Obtain the real time<br>
                converted Text and Audio!</div>
        </div>
    </div>

    <div class="three-images">
        <img src="../static/images/img1.jpg" alt="" >
        <img src="../static/images/img2.jpg" alt="" >
        <img src="../static/images/img3.jpg" alt="" >
    </div>
    <div class="contacts">
        <div class="contact-title">Contact Us</div>
        <div class="contact-flex">
            <div class="contact-left">
                Team 10<br>
                Dell Hack-2-Hire<br>
                Sikkim Manipal Institute of Technology<br>
                Majitar, Sikkim - 737136<br><br><br>
                support email: sign2textindia@gmail.com<br>
                <i class="fa-brands fa-github"></i>
            </div>
            <div class="contact-right">
                <form>
                    <input class="contact-form-input" type="text" name="email" placeholder="Email"><br>
                    <input class="contact-form-input" type="text" name="email" placeholder="Type your mail"><br>
                    <button class="contact-form-submit" type="submit">Send Email</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/133845b97a.js" crossorigin="anonymous"></script>
</body>
</html>